<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel='stylesheet' href='./public/style.css'/>
	<script src='./public/script.js'></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script type="text/javascript" src="../node_modules/androidjs/lib/androidjs.js"></script>
	<script type="text/javascript" src = "../assets/script.js"></script>
	<script src="../assets/jquery-3.3.1.slim.min.js"></script>
	<title>Le convertisseur qui marche à moitié :c</title>
</head>

<body>
	<h1 class='header'>Convertissez votre vidéo Youtube en fichier audio au format MP3 !</h1>
	<input class='URL-input' placeholder='https://www.youtube.com/watch?v=dQw4w9WgXcQ'/>
	<button class='convert-button' onclick="checkLink()">Convertir en MP3</button>
	
	<p>Voici un vrai convertisseur Youtube qui vous permet de convertir vos vidéos Youtube au format MP3 ! C'est <b>gratuit</b> et <b>sans publicités</b> ! Entrez votre lien et laissez le programme faire le reste, vous n'avez juste qu'à télécharger votre fichier ! <i>À noter que l'opération peut prendre un peu de temps.</i> <br>Vos musiques se téléchargent automatiquement dans le dossier "Music" de votre téléphone. <b>VEUILLEZ NE PAS QUITTER LA PAGE LE TEMPS DU TELECHARGEMENT</b><br><i>Notez qu'il existe une version PC également</i></p>
	<div class="discord">
		<h1>Rejoignez le <a target="_blank" href="https://discord.gg/S8Xf8Bc24g"> Discord</a> !</h1>
	</div>
	<div>
		<h3 id='statut'>Consultez ici le statut de votre téléchargement ! :)</h3>
	</div>
</body>
</html>