/* Style général */

* {
	text-align: center;
	font-family: Arial;
}

body {
	color: rgb(170, 166, 166);
	background-color: rgb(27, 26, 26);
}

p {
	width: 75%;
	position: relative;
	left: 50%;
	transform: translate(-50%);
	text-align: left;
	justify-items: right;
	color: rgb(170, 166, 166);
}

a {
	color: #D0ADF0;
}

/* Partie "convertisseur" */

.header {
	margin-top: 50px;
}

.URL-input, .convert-button {
	font-size: 1em;
	padding: 5px 10px;
}

.URL-input {
	margin: auto;
	border-radius: 4px 0px 0px 4px;
	width: 370px;
	text-align: left;
	border: 2px solid #141313;
	background: #141313;
	color: white;
}

.convert-button {
	margin: 2% auto;
	border: 2px solid #6d0303;
	background: #6d0303;
	color: white;
}

.convert-button:hover {
	background: #460202;
	border-color: #460202;
}

/* Partie du tableau */

td {
	text-align: left;
	border: 1px solid white;
	border-top: none;
	border-left: none;
	border-right: none;
	padding-top: 11px;
	color: rgb(170, 166, 166);
}

table {
	width: 75%;
	position: relative;
	left: 50%;
	transform: translate(-50%);
}

caption {
	width: auto;
}

/* Partie Discord */

.discord {
	border-top: 1px solid grey;
}

.discord h1 {
	position: relative;
	left: 25%;
	transform: translate(-25%);
	color: #b99cf0;
	font-size: 3rem;
}

.discord h2 {
	position: relative;
	color: #9e77e6;
	font-size: 2.5rem;
	text-align: left;
	margin-left: 15px;
}

.discord ul {
	list-style: none;
}

.discord li {
	text-align: left;
	font-size: large;
	padding-top: 5px;
	color: rgb(170, 166, 166);
}

.discord img {
	width: 15%;
	position: relative;
	bottom: 125px;
}

.discord iframe {
	position: absolute;
	right: 10px;
}

/* Partie responsive */

@media only screen and (max-width: 600px) {
	.URL-input {
		width: auto;
	}

	.convert-button {
		width: auto;
	}
}